<div class="flex justify-center mt-4">
  <form (ngSubmit)="addDetector()" [formGroup]="detectorForm" class="grid grid-cols-2 gap-4 md:w-4/5">
    <label class="text-right" for="name">Metric Name:</label>
    <input class="input" formControlName="name" id="name" required>
    <div [errors]="getErrorMessage(detectorForm.get('name'))" app-errors class="text-rose-600 col-span-2 text-right">
    </div>

    <label class="text-right" for="interval">Execution Interval:</label>
    <div class="flex flex-row justify-between" formGroupName="interval" id="interval">
      <input class="w-1/5 input" formControlName="hours" min="0" placeholder="hh" type="number">
      <span>:</span>
      <input class="w-1/5 input" formControlName="minutes" min="0" placeholder="mm" type="number">
      <span>:</span>
      <input class="w-1/5 input" formControlName="seconds" min="0" placeholder="ss" type="number">
    </div>
    <div [errors]="getErrorMessage(detectorForm.get('interval'))" app-errors
         class="text-rose-600 col-span-2 text-right">
    </div>

    <label class="text-right" for="offset">Offset:</label>
    <div class="flex flex-row justify-between" formGroupName="offset" id="offset">
      <input class="w-1/5 input" formControlName="hours" placeholder="hh" type="number">
      <span>:</span>
      <input class="w-1/5 input" formControlName="minutes" placeholder="mm" type="number">
      <span>:</span>
      <input class="w-1/5 input" formControlName="seconds" placeholder="ss" type="number">
    </div>
    <div [errors]="getErrorMessage(detectorForm.get('offset'))" app-errors class="text-rose-600 col-span-2 text-right">
    </div>

    <label class="text-right" for="activated">Activated</label>
    <input checked class="checkbox" formControlName="activated" id="activated" type="checkbox">

    <label class="text-right" for="endpoint-type">Detector Type:</label>
    <select class="select" formControlName="detectorType" required>
      <option *ngFor="let type of detectorTypes" value="{{type}}">
        {{type}}
      </option>
    </select>
    <div [errors]="getErrorMessage(detectorForm.get('detectorType'))" app-errors
         class="text-rose-600 col-span-2 text-right">
    </div>

    <div class="col-span-2 flex flex-row justify-center mt-4">
      <h3 class="text-center text-xl">{{detectorForm.value.detectorType}} Detector</h3>
    </div>

    <div *ngIf="isIntervalDetector()" class="grid grid-cols-2 gap-4 col-span-2"
         formGroupName="intervalDetector">

      <label class="text-right" for="aggregate-operation">Aggregate Operation:</label>
      <select class="select" formControlName="aggregateOperation" id="aggregate-operation">
        <option *ngFor="let op of aggregateOperations" [value]="op">
          {{op}}
        </option>
      </select>

      <label class="text-right" for="compare-type">Compare Type:</label>
      <select class="select" formControlName="compareType" id="compare-type">
        <option *ngFor="let type of compareTypes" [value]="type">
          {{type}}
        </option>
      </select>

      <label class="text-right" for="threshold">Threshold:</label>
      <input class="input" formControlName="threshold" id="threshold" type="number">
    </div>

    <div *ngIf="isMinMaxDetector()" class="grid grid-cols-2 gap-4 col-span-2"
         formGroupName="minMaxDetector">

      <label class="text-right" for="lower-threshold">Lower Threshold:</label>
      <input class="input" formControlName="lowerThreshold" id="lower-threshold" type="number">

      <label class="text-right" for="upper-threshold">Upper Threshold:</label>
      <input class="input" formControlName="upperThreshold" id="upper-threshold" type="number">

      <label class="text-right" for="max-hits">Max Hits:</label>
      <input class="input" formControlName="maxHits" id="max-hits" type="number">
    </div>


    <!-- Action -->

    <div class="col-span-2 flex flex-row justify-center mt-4">
      <h3 class="text-center text-xl">Action</h3>
    </div>

    <label class="text-right" for="endpoint">Endpoint:</label>
    <input class="input" formControlName="endpoint" id="endpoint" required>
    <div [errors]="getErrorMessage(detectorForm.get('endpoint'))" app-errors
         class="text-rose-600 col-span-2 text-right">
    </div>

    <label class="text-right" for="endpoint-type">Endpoint Type:</label>
    <select class="select" formControlName="type" id="endpoint-type" required>
      <option *ngFor="let type of actionTypes" [value]="type">
        {{type}}
      </option>
    </select>
    <div [errors]="getErrorMessage(detectorForm.get('type'))" app-errors class="text-rose-600 col-span-2 text-right">
      {{ getErrorMessage(detectorForm.get('type')) }}
    </div>

    <div [errors]="getErrorMessage(detectorForm)" app-errors class="text-rose-600 col-span-2 text-right">
    </div>

    <div *ngIf="detectorForm.valid" class="col-span-2 flex justify-center">
      <input [disabled]="!detectorForm.valid" class="button" type="submit" value="Submit">
    </div>
  </form>
</div>

