<form (keydown.enter)="$event.preventDefault()" (ngSubmit)="submit()" [formGroup]="filterForm"
      class="form-filter flex flex-col  mx-auto">
  <div class="flex flex-col md:flex-row flex-wrap w-full md:mx-10">
    <div *ngIf="!useSearch" class="flex block m-1 flex-col w-full">
      <div class="flex block">
        <label class="input-label__label" for="names">Metric Names: </label>
        <input (keydown.backspace)="removeNameByBackspace()"
               (keydown.enter)="addName()"
               autofocus
               class="input input-label__input"
               formControlName="names"
               list="names"
               name="names"
               type="text">
      </div>
      <div class="flex flex-wrap text-indigo-700 pb-4 grow">
      <span *ngFor="let name of names; index as i" class="chip mr-3 my-1">
          {{name}}
        <button
          (click)="removeName(i)"
          class="cursor-pointer ml-1 my-auto hover:text-white rounded-full hover:bg-indigo-400 w-6 h-6 text-center">
            <svg class="h-3 w-4 m-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M20 12H4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
          </button>
        </span>
      </div>
      <hr/>
    </div>

    <div *ngIf="useSearch" class="input-label">
      <label class="input-label__label" for="name">Name: </label>
      <input class="input input-label__input"
             formControlName="name"
             id="name"
             list="names"
             name="name"
             placeholder="Name"
             type="text">
    </div>

    <datalist id="names">
      <option *ngFor="let name of telemetryNames">{{name}}</option>
    </datalist>

    <div class="input-label">
      <label class="input-label__label" for="instance">Instance: </label>
      <input class="input input-label__input"
             formControlName="instance"
             id="instance"
             list="instances"
             name="instance"
             placeholder="Instance"
             type="text">
      <datalist id="instances">
        <option *ngFor="let instance of instances">{{instance}}</option>
      </datalist>
    </div>

    <div class="input-label">
      <label class="input-label__label" for="type">Type: </label>
      <select class="select input-label__input"
              formControlName="type"
              id="type"
              name="count"
              type="number">
        <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
        <option selected value="">None</option>
      </select>
    </div>

    <div class="input-label">
      <label class="input-label__label" for="from">From: </label>
      <input class="input input-label__input text-black"
             formControlName="from"
             id="from"
             type="datetime-local"
      >
    </div>
    <div class="input-label">
      <label class="input-label__label" for="to">To: </label>
      <input class="input input-label__input"
             formControlName="to"
             id="to"
             name="to"
             type="datetime-local"
      >
    </div>
    <div *ngIf="showCount" class="input-label">
      <label class="input-label__label" for="count">Count: </label>
      <select class="select"
              formControlName="count"
              id="count"
              name="count"
              type="number">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="1000">1000</option>
      </select>
    </div>

    <div class="grow flex justify-end mx-2">
      <button class="md:block inline-block flex justify-center my-auto button">{{submitTitle}}</button>
    </div>
  </div>
</form>
