<nav class="
font-rubik
text-indigo-700
text-2xl
font-bold
border-solid
border-b
pt-3
pb-3
pl-3
bg-white
">
  <ul class="flex flex-row items-center padding-0">
    <app-navbar-item route="/" text="Overview"></app-navbar-item>
    <app-navbar-item route="/logs" text="Logs"></app-navbar-item>
    <app-navbar-item route="/relations" text="Relations"></app-navbar-item>
    <app-navbar-item route="/charts" text="Charts"></app-navbar-item>
    <app-navbar-item route="/actions" text="Actions"></app-navbar-item>
  </ul>
</nav>
