<nav class="
font-rubik
text-indigo-700
text-xl
font-bold
border-solid
border-b
py-3
px-3
bg-white
text-right
">
  <ul class="navbar">
    <li class="navbar__item link-animation">
      <a routerLink="/">Analytics as a Service</a>
    </li>
    <li class="navbar__item link-animation" *ngIf="loggedIn()">
      <a routerLink="/logs">Logs</a>
    </li>
    <li class="navbar__item link-animation" *ngIf="loggedIn()">
      <a routerLink="/graphs">Graphs</a>
    </li>
    <li class="navbar__item link-animation" *ngIf="loggedIn()">
      <a routerLink="/detectors">Detectors</a>
    </li>
    <li class="navbar__item link-animation" *ngIf="loggedIn()">
      <a routerLink="/clients">Clients</a>
    </li>
    <li class="navbar__item grow">
      <button (click)="login()" *ngIf="!loggedIn()" class="button text-base">Login</button>
      <button (click)="logout()" *ngIf="loggedIn()" class="button text-base">Logout</button>
    </li>
  </ul>
</nav>
