<h1 class="text-center text-3xl mb-3">Logs</h1>
<div class="mb-3 flex justify-center">
  <app-filter (filterEvent)="applyFilter($event)" [defaultFilter]="filter" [showCount]="false" [telemetryNames]="names"
              [types]="logTypes"></app-filter>
</div>

<div class="w-full grid gap-4 md:grid-cols-5 md:grid-rows-none grid-rows-5 border-b pb-2 mb-4">
  <div class="text-center">Name</div>
  <div class="text-center">Type</div>
  <div class="text-center">Instance</div>
  <div class="text-center">Created At</div>
  <div class="text-center ">Message</div>
</div>
<div *ngFor="let entry of logs" [log]="entry" app-log-list-entry
     class="rounded hover:bg-gray-200 inline-grid md:grid-cols-5 md:grid-rows-none py-4 grid-rows-5 gap-4 w-full border-b border-gray-100">
</div>

<div *ngIf="!logs || logs.length == 0 && !loading" class="w-full text-center text-2xl mb-3">
  <h2>No entries found</h2>
</div>

<div class="flex justify-center mt-4 text-indigo-600">
  <div class="grow"></div>
  <button (click)="previousPage()" [disabled]="!hasPreviousPage()" [ngClass]="{'opacity-0' : !hasPreviousPage()}">
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11 19l-7-7 7-7m8 14l-7-7 7-7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </svg>
  </button>
  <span class="mx-2 text-lg mono" style="">{{(filter.page ?? 0) + 1}}</span>
  <button (click)="nextPage()" [disabled]="!hasNextPage()" [ngClass]="{'opacity-0' : !hasNextPage()}">
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M13 5l7 7-7 7M5 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </svg>
  </button>
  <div class="grow">
    <select (change)="applyFilter(null)"
            [(ngModel)]="filter.count"
            class="block ml-auto select"
            name="logCount"
            type="number">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="1000">1000</option>
    </select>
  </div>
</div>

