<div
  class="overflow-x-hidden fixed right-0 left-0 top-0 z-50 justify-center items-center md:inset-0 sm:h-full h-full max-h-full py-8"
  id="popup-modal">
  <div class="relative px-4 w-full md:max-w-4xl max-w-full md:mx-auto md:my-auto md:top-12">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow p-2 h-full overflow-y-auto">
      <div class="flex flex-row justify-between mt-2">
        <div class="grow-0">
        </div>
        <div class="grow">
          <h2 class="text-2xl text-center">{{title}}</h2>
        </div>
        <div class="grow-0 mr-2">
          <button (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div class="bg-gray-700 bg-opacity-50 fixed inset-0 z-40"></div>
