<h1 class="text-center text-3xl">Metric Graphs</h1>
<div class="grid grid-cols-1 xl:grid-cols-2 auto-rows-auto gap-8 mt-7">
  <div *ngFor="let chart of charts, index as i">
    <div class="flex">
      <div class="mr-2 grow-0">
      </div>
      <div class="grow"></div>
      <div class="mr-2 grow-0">
        <button (click)="editGraph(i)" class="mr-4">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
        </button>
        <button (click)="removeGraph(i)">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          </svg>
        </button>
      </div>
    </div>
    <app-metric-graph [metricFilter]="chart"></app-metric-graph>
    <app-modal class="hidden" id="graph-details-{{i}}" title="Graph Details">
      <app-graph-dialog (newGraphEvent)="updateGraph($event, i)" [defaultChart]="charts[i]"
                        addButtonText="Update This Graph" class="max-h-full"></app-graph-dialog>
    </app-modal>
  </div>
  <div *ngIf="charts.length == 0" class="col-span-2 my-8 h-full">
    <h2 class="text-center text-2xl">Nothing here...</h2>
    <h2 class="text-center text-2xl">Start by adding Graphs</h2>
  </div>
</div>
<div class="flex flex-row mt-4">
  <button (click)="showModal()" class="button">Add Graph</button>
</div>
<app-modal class="hidden" id="graph-modal" title="Add Graph">
  <app-graph-dialog (newGraphEvent)="addGraph($event)" addButtonText="Add This Graph"
                    class="max-h-full"></app-graph-dialog>
</app-modal>
